<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.fruitmall.mapper.EvaluateMapper">

    <resultMap id="evaluateMap" type="evaluateInfo">
        <id column="evaluate_id" property="evaluateId"/>
        <collection property="responseSet" column="evaluate_id" select="com.xzy.fruitmall.mapper.ResponseMapper.getResponseSetByEvaluateId"/>
    </resultMap>
    <select id="getEvaluateSetByCustomerId" resultMap="evaluateMap">
        select * from evaluate_info where customer_id=#{customerId}
    </select>
    <select id="getEvaluateSetByGoodsId" resultMap="evaluateMap">
        select * from evaluate_info where goods_id=#{goodsId}
    </select>


    <insert id="evaluate">
        insert into evaluate_info values(default,#{customerId},#{goodsId},#{evaluateContent},default ,default)
    </insert>
    <select id="findAllEvaluate" resultType="EvaluateInfo">
        select * from evaluate_info
    </select>
    <select id="getEvaluateByEvaluateId" resultType="EvaluateInfo">
        select * from evaluate_info where evaluate_id = #{evaluateId}
    </select>
    <select id="getEvaluateByEvaluateState" resultType="EvaluateInfo">
        SELECT * FROM evaluate_info WHERE response_state=0
    </select>
</mapper>
